.Header{
    height: 60px;
    font-size: .82rem;
    background-color: #198754;;
    position: fixed;
    z-index: 500;
    left: 0;
    right: 0;
    top: 0;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.12);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.12);
}

.Title_nav{
    position: relative;
    margin-right: 30px;
}

.headerNav {
    margin: 0 auto;
    max-width: 1248px;
    padding: 0 24px;
    height: inherit;
    -ms-align-items: center;
    -ms-justify-content: flex-start;
    -webkit-align-items: center;
    -webkit-justify-content: flex-start;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: start;
    justify-content: flex-start;
    display: -moz-box;
    display: flex;
}