.TopContainer {
    background-color: #fafafc;
    height: 720px;
}
.Wrapper_container{
    display: flex;
    -moz-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 24px;
}
.Container_left{
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    color: #333;
}
.Container_left h1 {
    font-size: 60px;
    color: #333;
    font-weight: 700;
}
.Container_left img {
    display: block;
    margin-top: 20px;
    margin-bottom: 16px;
    width: -moz-calc(100% - 180px);
    width: calc(100% - 180px);
    min-width: -moz-calc((180px - 100%) * 180);
    min-width: calc((180px - 100%) * 180);
    min-height: -moz-calc((48px - 100%) * 48);
    min-height: calc((48px - 100%) * 48);
    max-height: 100%;
    max-width: 250px;
}
.Container_left_title{
    font-size: 50px !important;
    font-weight: bold;
    color: green;
}
.Container_left p {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}
.Container_left_btn {
    margin-top: 20px;
}
.Signup_btn {
    background-color: #4ab9b2 !important;
}
.Container_left_btn button {
    margin: 0 16px 16px 0;
    padding: 10px 53px;
    text-align: center;
    display: inline-block;
    min-width: -moz-calc(100%/2 - 32px);
    min-width: calc(100% / 2 - 32px);
    max-width: 100%;
    width: auto;
    color: #fff;
    line-height: 30px;
    border-radius: 6px;
    max-height: 50px;
    min-height: 100%;
    background-color: #00c473;
    font-weight: bold;
}
/*=============================================================================================================================================*/

.Container_right{
    vertical-align: middle;
    width: 55%;
}
.Container_right_img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px auto;
    outline: none;
}
.Container_right_img img{
    width: 100%;
}
